@use "@/styles/util" as *;

main.draft {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input,
  textarea {
    @include input;
    &::placeholder {
      color: #999;
    }
  }

  textarea {
    height: 10rem;
    resize: vertical;
    line-height: 1.5;
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
  }

  .content {
    font-size: 1rem;
  }

  section.buttons {
    @include a-no-underline;

    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    flex-wrap: wrap;

    p.error {
      @include reset;
      flex: 1;
      color: red;
      min-width: 100%;
    }

    a,
    button {
      @include button;
    }
    button.save {
      @include button-green;
    }
    button.publish {
      @include button-blue;
    }
    button.delete {
      @include button-red;
    }
  }
}
