@use "@/styles/util" as *;

main.draft {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input, textarea {
    @include input;
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
  }

  .content {
    font-size: 1rem;
  }

  section.buttons {
    @include a-no-underline;

    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;

    p.error {
      @include reset;
      flex: 1;
      color: red;
    }

    a,
    button {
      @include button;
    }
    button.save {
      @include button-green;
    }
    button.publish {
      @include button-blue;
    }

    button:disabled {
      @include button-disabled;
    }
  }
}
