@use "sass:string";

$matsym: string.unquote(":global(.material-symbols-outlined)");

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin not-mobile {
  @media (min-width: 769px) {
    @content;
  }
}

/* resets preset styles of p, ul, button, ... */
@mixin reset {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  background: none;
  font-size: inherit;
}

/* button styles */
@mixin button($bg-color: #ffffff, $hover-color: #ddd, $disabled-color: #aaa) {
  @include reset;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  font-size: 0.8rem;
  padding: 0.3rem 0.6rem;

  color: #313131;

  border: 1px solid #ddd;
  border-radius: 0.25rem;
  border-color: $hover-color;

  background-color: $bg-color;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $hover-color;
  }

  &.disabled {
    cursor: default;
    background-color: $bg-color;
    color: $disabled-color;
  }
}

@mixin button-blue {
  @include button(#a2c3ff, #8ab1ff);
}

@mixin button-green {
  @include button(#c0ffbd, #a8ff9e);
}

/* input styles */
@mixin input {
  @include reset;
  min-width: 0;
  width: auto;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

@mixin a-no-underline {
  a {
    text-decoration: none;
  }
}
