@use "sass:string";

/* resets preset styles of p, ul, button, ... */
@mixin reset {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  background: none;
  font-size: inherit;
}

$matsym: string.unquote(":global(.material-symbols-outlined)");

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
