@use "@/styles/util" as *;

main.edition header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  h1 {
    margin: 0;
  }

  margin-bottom: 1rem;
}

@include mobile {
  main.edition header {
    flex-direction: column;
    align-items: flex-start;
  }
}

section.content {
  border: 1px solid #ddd;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;

  h1 {
    margin: 0;
    font-size: 2rem;
  }
}

