@use "@/styles/util" as *;

main.article {
  /* metadata section */
  header {
    h1 {
      /* remove preset margin */
      margin: 0;
    }

    /* metadata item (author, date, statistics) */
    p {
      @include reset;
      font-size: 0.8rem;
      #{$matsym} {
        font-size: 1rem;
      }
    }

    /* statistics (views, likes, ...) */
    p.stat {
      /* put stats in a row */
      display: inline-flex;

      /* align icon and number */
      align-items: center;

      /* space between icon and number */
      gap: 0.25rem;

      /* space between items */
      margin-right: 1rem;
    }
  }

  /* options section */
  article section.options {
    position: absolute;
    right: 0;
    top: -2rem;

    button {
      @include button;
      border-radius: 0;
      border-right-width: 0;
      &:first-child {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }
      &:last-child {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        border-right-width: 1px;
      }
      &.selected {
        background-color: #f0f0f0;
      }
    }
  }

  /* article and comment contents */
  article {
    text-align: justify;

    /* long words are wrapped */
    word-wrap: break-word;

    position: relative;

    /* code block */
    pre {
      overflow-x: auto;
      padding: 1rem;
      background-color: #f0f0f0;
    }
  }

  /* article */
  > article {
    /* space between article and header; room for options */
    margin-top: 1rem;
    /* space between article and buttons */
    margin-bottom: 2rem;
  }

  /* likes */
  p.likes {
    margin: 0;
    font-size: 0.8rem;
    color: #999;
  }

  /* buttons section */
  section.buttons {
    @include a-no-underline;

    display: flex;
    gap: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    align-items: center;

    /* separator */
    hr {
      @include reset;
      flex: 1;
    }

    /* buttons */
    button,
    a {
      @include button($disabled-color: initial);

      /* text and icon alignment */
      display: flex;
      align-items: center;
      gap: 0.25rem;

      /* color transition */
      transition: all 0.2s ease-in-out;

      /* prevent wrapping */
      white-space: nowrap;

      /* icon */
      #{$matsym} {
        font-size: 1rem;
      }
    }

    /* like button */
    button.like {
      color: red;

      /* like button icon */
      #{$matsym} {
        /* empty heart */
        font-variation-settings: "FILL" 0;
      }
    }

    /* unlike button icon */
    button.like.liked #{$matsym} {
      /* filled heart */
      font-variation-settings: "FILL" 1;
    }

    /* delete button */
    button.delete {
      @include button-red;
    }
  }

  form.comment-form {
    /* form */
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;

    /* input */
    textarea {
      @include input;
      flex: 1;
      line-height: 1.5;
    }

    /* submit button */
    button {
      @include button;
      width: 4rem;
    }
  }

  /* comments section */
  section.comments {
    /* top and bottom margin */
    margin: 1rem 0 2rem;

    /* line between comments */
    border-top: 1px solid #ddd;
    article {
      border-bottom: 1px solid #ddd;
    }

    /* comment item */
    article {
      position: relative;
      padding: 0.5rem 0;

      /* contents */
      p {
        @include reset;
        font-size: 1rem;
      }

      /* author, date */
      footer {
        font-size: 0.8rem;
        color: #999;
      }

      button.delete {
        display: none;

        @include button;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;

        height: fit-content;
        margin: auto;
      }

      /* delete button */
      &:hover button.delete {
        display: block;
      }
    }

    /* no comments */
    p.empty {
      text-align: center;
      color: #999;
    }
  }
}

@include mobile {
  form.comment-form {
    flex-direction: column;
    align-items: flex-end;

    textarea {
      align-self: stretch;
    }
  }

  main.article section.comments article {
    display: grid;
    grid-template:
      "content delete" auto
      "author  delete" auto
      / 1fr auto;

    p {
      grid-area: content;
    }

    footer {
      grid-area: author;
    }

    button.delete {
      display: block;
      position: static;
      grid-area: delete;
    }
  }
}
