@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap");
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* repeat twice to override google font default */
.material-symbols-outlined.material-symbols-outlined {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  font-size: inherit;
}

.symbol-no-fill > .material-symbols-outlined {
  font-variation-settings: "FILL" 0;
}

/* buttons */
.button {
  @apply whitespace-nowrap
    inline-flex
    items-center
    justify-center
    text-sm
    px-[0.6rem] py-[0.3rem]
    border border-gray-300
    bg-white
    rounded-md
    transition
    hover:bg-gray-100;
}

.button.button-blue {
  @apply bg-blue-300
    border-blue-400
    hover:bg-blue-400;
}

.button.button-red {
  @apply bg-red-200
    border-red-300
    hover:bg-red-300;
}

.button.button-green {
  @apply bg-green-200
    border-green-300
    hover:bg-green-300;
}

.button.button-disabled {
  @apply cursor-not-allowed
    bg-gray-200
    border-gray-300
    text-gray-400
    hover:bg-gray-200;
}

/* input */
.input {
  @apply w-full border border-gray-300 rounded p-2;
}

/* tailwind should have most specificity */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* override tailwind */
.prose {
  @apply max-w-none text-justify;
}
