@use "@/styles/util" as *;

@mixin box {
  background-color: #eee;
  box-shadow: 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.1);
}

body {
  > header {
    z-index: 1;
    grid-area: header;
    transition: transform 0.5s;

    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* wrap */
    min-width: 0;
    flex-wrap: wrap;
    white-space: nowrap;

    @include box;
    @include a-no-underline;

    /* site title */
    h1 {
      @include reset;
      font-size: 1.5rem;
      font-weight: bold;
    }

    /* user menu */
    menu {
      @include reset;
      @include a-no-underline;
      display: flex;
      color: #666;

      /* handle long names */
      flex-wrap: wrap;
      min-width: 0;
      li {
        display: flex;
        min-width: 0;
        span.name {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      /* align items vertically */
      li {
        line-height: 1.5;
      }

      /* separator between menu items */
      li:not(:first-child)::before {
        content: "·";
        margin: 0 0.5rem;
      }

      /* button styles */
      button,
      a {
        @include reset;
        color: #666;
        cursor: pointer;
      }
    }
  }

  > nav {
    @include a-no-underline;
    grid-area: nav;

    padding: 1rem;
    height: fit-content;

    display: flex;
    flex-direction: column;

    @include box;

    /* reset list styles */
    ul {
      @include reset;
    }
    li {
      @include reset;
    }

    /* hide open button */
    button.open-menu,
    button.top-link {
      display: none;
    }
  }

  > main {
    grid-area: main;
    min-width: 0;
    margin: 1rem;
  }
}

@include mobile {
  body {
    grid-template:
      "header" auto
      "main" 1fr
      / 1fr;
    grid-gap: 0;

    /* header collapse on scroll */
    > header {
      position: sticky;
      top: 0;
    }

    > nav {
      background: transparent;
      box-shadow: none;

      position: fixed;
      bottom: 0;
      right: 0;

      padding: 0;
      margin: 2rem;
      font-size: 1.2rem;

      z-index: 1;

      li {
        margin: 0.5rem 0;
        line-height: 1.5;
        background-color: white;
        padding: 0.5rem;
        border-radius: 0.5rem;
      }

      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;

        transition: opacity 0.5s;
      }

      ul {
        position: absolute;
        white-space: nowrap;
        right: 0;
        bottom: 100%;
        margin: 1rem 0;

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        transition:
          transform 0.5s,
          opacity 0.5s;
      }

      &.open {
        ul {
          transform: translateY(0);
          opacity: 1;
        }

        .overlay {
          opacity: 1;
        }
      }

      &.closed {
        ul {
          transform: translateY(20%);
          opacity: 0;
          animation: disappear 0.5s forwards;
        }
        .overlay {
          opacity: 0;
          animation: disappear 0.5s forwards;
        }
      }

      button.open-menu,
      button.top-link {
        @include reset;
        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid #ccc;
        color: #666;
        background-color: white;

        border-radius: 50%;
        width: 3rem;
        height: 3rem;

        margin: 0.5rem 0;
      }
    }
  }
}

@keyframes disappear {
  100% {
  }
  to {
    visibility: hidden;
  }
}
