@import "@/styles/util.scss";

ul.article-list {
  @include a-no-underline;

  /* reset list styles */
  @include reset;
  > li {
    @include reset;
  }

  /* lines between list items */
  border-top: 1px solid #ddd;
  > li {
    border-bottom: 1px solid #ddd;
  }
}

/* list item styles */
ul.article-list > li {
  padding: 0.3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  /* prevent title text overflow */
  .link {
    overflow: hidden;
    .title {
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  /* clickable area (title, stats) */
  .link {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    white-space: nowrap;

    .title {
      /* fix title text trembling randomly */
      line-height: 1.5;
    }

    /* stats(comments, views, likes), icon before title */
    .n-comments,
    .n-views,
    .n-likes,
    .before {
      color: #969696;

      #{$matsym} {
        font-size: 1.2rem;
      }

      /* align icon and number */
      display: flex;
      align-items: center;
    }
  }

  /* placeholder, empty text */
  .link.empty .title,
  .title.untitled {
    color: #999;
  }

  /* metadata: author, date */
  .author {
    font-size: 0.9rem;
    color: #888;

    /* fill available space and align right */
    flex: 1;
    text-align: right;
    white-space: nowrap;

    /* text vertical align */
    line-height: 1;
  }
}
